.main a {
    display:inline-block;
    text-decoration:none;
    background-color:#2980b9;
    color:white;
    font-weight:bold;
    padding:0.5rem 1rem;
    border-radius:0.8rem;
    text-align:center;
    margin:3rem auto;
}

.main a:hover {
    background-color:#3498db;
    cursor:pointer;
}
