* {
    box-sizing:border-box;
}

body {
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

header {
    margin:0;
    padding:1rem;
    background-color:lightgrey;
}

h1 {
    margin:0;
    text-align:center;
}

.main {
    flex:1;
    margin:0;
    padding:1rem;
}

.main h2 {
    text-align:center;
    margin:0;
    padding:1rem;
}

form {
    min-width:200px;
    max-width:800px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:1rem;
    border:2px solid black;
    border-radius:1rem;
}

form label {
    font-size:1.5rem;
    font-weight:bold;
    margin:1rem;
}

form input {
    padding:1rem;
    border-radius:1rem;
    width:100%;
    margin:1rem 0;
}

form input[type=submit] {
    width:auto;
    cursor:pointer;
}

form input[type=submit]:hover {
    background-color:darkgrey;
}

footer {
    margin:0;
    padding:1rem;
    background-color:lightgrey;
    text-align:center;
}

